PORT=4300
NODE_ENV=development
LOG_LEVEL=info
ALLOY_API_URL=https://api.alloy.cx
ALLOY_API_KEY=xxx
INTERNAL_SYSTEM=xxx
INTERNAL_SYSTEM_URL=http://127.0.0.1:9000
INTERNAL_AUTHORIZATION_HEADER_NAME=Authorization
INTERNAL_AUTHORIZATION_HEADER_VALUE="Bearer {token}"
LOGS_PATH=/logs
HTTP_PROXY=http://127.0.0.1:8080
HTTPS_PROXY=https://127.0.0.1:8080
NO_PROXY=127.0.0.1,localhost